# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
venv/
ENV/

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python test cache
.pytest_cache/

# Optional: data files
data_analysis/data.csv
day_11/data.csv
